html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  font-size: 16px; }

.site-nav {
  background: rgba(255, 255, 255, 0.95);
  padding: .5rem;
  margin: 0; }
  .site-nav::after {
    clear: both;
    content: "";
    display: table; }
  .site-nav .site-logo {
    margin: 0 auto;
    text-align: center;
    padding: .5rem 0;
    display: block; }

.scroll-nav {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #eee;
  border-left: 0;
  border-right: 0; }
  .scroll-nav ul {
    padding: 0;
    margin: 0 auto;
    text-align: center; }
    .scroll-nav ul li {
      list-style: none;
      display: inline-block; }
      .scroll-nav ul li a {
        display: block;
        text-decoration: none;
        padding: .5rem .25rem;
        color: #15849a;
        font-family: 'Open Sans', "helvetica neue", helvetica, arial, sans-serif;
        font-size: 0.8rem;
        margin: 0 .25rem; }

.headroom {
  transition: transform 200ms linear; }

.headroom--pinned {
  transform: translateY(0%); }

.headroom--unpinned {
  transform: translateY(-100%); }

.panel {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: .5rem; }
  .panel::after {
    clear: both;
    content: "";
    display: table; }

.panel-site-header {
  padding: 0rem .5rem 2rem; }
  @media (min-width: 768px) {
    .panel-site-header .site-marketing-message {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .panel-site-header .site-marketing-message:last-child {
        margin-right: 0; } }
  @media (min-width: 768px) {
    .panel-site-header .site-hero {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .panel-site-header .site-hero:last-child {
        margin-right: 0; } }
  .panel-site-header .site-hero img {
    max-width: 100%; }

.panel-features {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .panel-features > .feature {
    text-align: center;
    margin: 0 auto 2rem; }
    @media (min-width: 768px) {
      .panel-features > .feature {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        .panel-features > .feature:last-child {
          margin-right: 0; }
        .panel-features > .feature:nth-child(3n) {
          margin-right: 0; }
        .panel-features > .feature:nth-child(3n+1) {
          clear: left; } }

.panel-case-studies {
  background: #15849a;
  padding: 6rem 2rem; }

.panel-used-by-logos {
  padding: 0 0 2rem;
  margin-top: 0; }

.logo-stack {
  margin: 0 auto;
  padding: 0;
  text-align: center; }
  .logo-stack li {
    display: inline-block;
    list-style: none;
    padding: .25rem;
    text-align: center;
    margin: 0 auto; }

.pricing-table {
  margin: 6rem auto;
  padding: 0;
  font-family: 'Open Sans', "helvetica neue", helvetica, arial, sans-serif;
  font-size: 1rem; }
  @media (min-width: 768px) {
    .pricing-table {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto; }
      .pricing-table::after {
        clear: both;
        content: "";
        display: table; } }

.price-block {
  list-style: none;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 2rem; }
  .price-block:last-child {
    margin-bottom: 0; }
  @media (min-width: 768px) {
    .price-block {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .price-block:last-child {
        margin-right: 0; } }

.price {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 1rem 0; }
  .price .price-title, .price .price-amount, .price .price-message {
    text-align: center; }

.price-footer {
  padding: 1rem 0; }

.features {
  margin: 0;
  padding: 0; }
  .features li {
    font-family: 'Open Sans', "helvetica neue", helvetica, arial, sans-serif;
    font-size: 0.8rem;
    color: #777777;
    list-style: none;
    padding: .5rem 0;
    border-top: 1px solid #cccccc; }
    .features li:last-child {
      border-bottom: 1px solid #cccccc; }

html {
  font-family: georgia, times, serif;
  font-size: 1rem; }

.btn {
  font-family: 'Open Sans', "helvetica neue", helvetica, arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  display: inline-block;
  padding: .5rem;
  color: #15849a;
  border: 1px solid #15849a;
  background: transparent;
  border-radius: 4px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .btn:hover {
    background: #15849a;
    color: #ffffff; }

.site-title {
  font-family: 'Open Sans', "helvetica neue", helvetica, arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  color: #444444;
  letter-spacing: -2px;
  margin: 0;
  padding: 1rem 0;
  text-align: center; }
  @media (min-width: 768px) {
    .site-title {
      text-align: left; } }

.site-subtitle {
  font-family: 'Open Sans', "helvetica neue", helvetica, arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #999999;
  text-align: center; }
  @media (min-width: 768px) {
    .site-subtitle {
      text-align: left; } }

.site-marketing-message > .btn-block {
  text-align: center; }
  @media (min-width: 768px) {
    .site-marketing-message > .btn-block {
      text-align: left; } }

.feature h4 {
  font-family: 'Open Sans', "helvetica neue", helvetica, arial, sans-serif;
  font-size: 1rem;
  margin: .5rem 0; }
.feature p {
  margin: 0;
  font-family: 'Open Sans', "helvetica neue", helvetica, arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 300; }
  .feature p + p {
    margin-top: .5rem; }

.panel-case-studies {
  color: #ffffff;
  font-family: 'Open Sans', "helvetica neue", helvetica, arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center; }
  .panel-case-studies .quote-source {
    font-family: 'Open Sans', "helvetica neue", helvetica, arial, sans-serif;
    font-size: 1rem; }

.panel-header {
  font-family: 'Open Sans', "helvetica neue", helvetica, arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center; }

.site-footer {
  font-family: 'Open Sans', "helvetica neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
