.panel	{
	@include outer-container(100%);
	margin: 0;
	padding: .5rem;
}

.panel-site-header {
	padding: 0rem .5rem 2rem;
	.site-marketing-message {
		@include breakpoint(sm) {
			@include span-columns(4);			
		}
	}
	.site-hero {
		// display: none;
		@include breakpoint(sm) {
			@include span-columns(8);
		}
		img {
			max-width: 100%;
		}		
	}	
}

.panel-features {
	padding-top: 4rem;
	padding-bottom: 4rem;
	> .feature {
		text-align: center;
		margin:0 auto 2rem;
		@include breakpoint(sm) {
			@include span-columns(4);
			@include omega(3n);
		}

	}	
}

.panel-case-studies {
	background: $teal;
	padding: 6rem 2rem;
	// .inner-container {
	// 	@include span-columns(12);
	// 	// @include shift(2);
	// }
}

.panel-used-by-logos {
	padding: 0 0 2rem;
	margin-top: 0;
}
.logo-stack	{
	margin:0 auto;
	padding: 0;
	text-align: center;
	li {
		display: inline-block;
		list-style:none;
		padding: .25rem;	
		text-align: center;
		margin: 0 auto;	
	}
}

// Pricing Table
.pricing-table {
	margin: 6rem auto;
	padding: 0;
	@include font-heading(1rem);
	@include breakpoint(sm) {
		@include outer-container(70%);
	}
}
.price-block {
	list-style: none;
	text-align: center;
	border: 1px solid $gray-light;
	border-radius: 4px;
	margin-bottom: 2rem;
	&:last-child {
		margin-bottom: 0;
	}
	@include breakpoint(sm) {
		@include span-columns(6);
	}
}
.price {
	position: relative;
	width: 100%;
	text-align: center;
	padding: 1rem 0;
	.price-title, .price-amount, .price-message {
		text-align: center;
	}
}
.price-footer {
	padding: 1rem 0;
}
.features {
	margin: 0;
	padding: 0;
	li {
		@include font-heading(.8rem);
		color: $gray;
		list-style: none;
		padding: .5rem 0;
		border-top: 1px solid $gray-light;
		&:last-child {
			border-bottom: 1px solid $gray-light;
		}
	}
}