.site-nav	{
	@include clearfix;
	background: rgba($white, .95);
	padding: .5rem;
	margin: 0;
	.site-logo {
		margin: 0 auto;
		text-align: center;
		padding: .5rem 0;
		display: block;
	}
	// ul {
	// 	padding: 0;
	// 	margin: 0;
	// 	float: right;
	// 	li {
	// 		list-style: none;
	// 		display: inline-block;
	// 		a {
	// 			display: block;
	// 			text-decoration: none;
	// 			padding: .5rem;
	// 			color: $teal;
	// 			@include font-heading(.8rem);
	// 			margin-left: 1rem;
	// 		}
	// 	}
	// }
}


.scroll-nav {
		background: rgba($white, 0.95);		
		border: 1px solid #eee;
		border-left: 0;
		border-right:0;	
	ul {
		padding: 0;
		margin: 0 auto;
		text-align: center;
		li { 
			list-style: none;
			display: inline-block;
			a {
				display: block;
				text-decoration: none;
				padding: .5rem .25rem;
				color: $teal;
				@include font-heading(.8rem);
				margin: 0 .25rem;
			}
		}
	}
}


// Headroom

.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}