
html	{
	@include font-body(1rem);
}

.btn {
	@include font-heading(.9rem);
	font-weight: 400;
	display: inline-block;
	padding: .5rem;
	color: $teal;
	border: 1px solid $teal;
	background: transparent;	
	border-radius: 4px;
	text-decoration: none;
	@include transition(all .2s ease-in-out);
	&:hover {
		background: $teal;
		color: $white;
	}
}

.site-title {
	@include font-heading(2.5rem);
	font-weight: 300;
	color: $black;
	letter-spacing: -2px;
	margin: 0;
	padding: 1rem 0;
	text-align: center;
	@include breakpoint(sm) {
		text-align: left;
	}
}
.site-subtitle {
	@include font-heading(1.2rem);
	font-weight: 300;
	color: #999999;
	text-align: center;
	@include breakpoint(sm) {
		text-align: left;
	}	
}

.site-marketing-message > .btn-block {
	text-align: center;
	@include breakpoint(sm) {
		text-align: left;
	}	
}
.feature {
	h4 {
		@include font-heading(1rem);
		margin: .5rem 0;
	}
	p {
		margin: 0;
		@include font-heading(.9rem);
		font-weight: 300;
		& + p {
			margin-top: .5rem;
		}
	}
}
.panel-case-studies {
	color: $white;
	@include font-heading(1.5rem);
	font-weight: 300;
	text-align: center;	
	.quote-source {
		@include font-heading(1rem);
	}
}

.panel-header {
	@include font-heading(1.5rem);
	font-weight: 300;
	text-align: center;
}

.site-footer {
	@include font-heading(.8rem);
	text-align: center;
}