
// Colors

$teal:				#15849a;
$black:				#444444;
$white:				#ffffff;
$gray:				#777777;
$gray-light:		#cccccc;

// Fonts

// Default font size for rem
html { font-size: 16px; }

@mixin font-body($font-size) {
	font-family: georgia, times, serif;
	font-size: $font-size;
}

@mixin font-heading($font-size) {
	font-family: 'Open Sans', "helvetica neue", helvetica, arial, sans-serif;
	font-size: $font-size;
}

// Breakpoints

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}